/* Coolors Exported Palette - coolors.co/2e0219-4a001f-f59ca9-f6828c-e56399 */

/* RGB */
$bodyBkg: rgba(46, 2, 25, 1);
$secondaryBkg: rgba(74, 0, 31, 1);
$icons: rgba(245, 156, 169, 1);
$button: rgba(246, 130, 140, 1);
$color5: rgba(229, 99, 153, 1);
$white:#e2dccd;

/*  Fonts */

$headers :Helvetica, sans-serif;
$text:Arial, sans-serif;