/* Coolors Exported Palette - coolors.co/2e0219-4a001f-f59ca9-f6828c-e56399 */
/* RGB */
/*  Fonts */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5em;
}

a, p {
  text-decoration: none;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #f6828c;
}

h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #2e0219;
}

.fa-layer-group, h1, h2, h3, h4, p, a, time {
  color: #e2dccd;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

header nav {
  padding: 20px;
}

header nav li {
  display: inline;
}

header nav .logo {
  float: left;
}

header nav .logo li {
  float: left;
  margin: 0 5px;
}

header nav ul {
  list-style-type: none;
}

header nav ul:nth-child(2) {
  float: right;
}

header nav ul:nth-child(2) li {
  margin: 0 7px;
}

header .clear:after {
  content: "";
  display: table;
  clear: both;
}

header #landing {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 35%;
}

header #landing a {
  border-radius: 50px;
  padding: 20px 90px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f59ca9), to(#f6828c));
  background-image: linear-gradient(to right, #f59ca9, #f6828c);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header #landing a:hover {
  color: #2e0219;
}

header #landing p {
  line-height: 1.7em;
  padding-bottom: 10px;
}

header #landing * {
  margin: 30px;
}

/* Main */
main {
  width: 100%;
  height: auto;
}

main .container {
  text-align: center;
  padding: 30px;
}

main .container i {
  padding: 20px 0;
  color: #f59ca9;
}

main .container * {
  padding: 10px 0;
}

/* Stay Productive */
#stay_productive {
  width: 100%;
  height: auto;
}

#stay_productive #prod_container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 100px;
}

#stay_productive #prod_container img {
  width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Display flex to center image */
}

#stay_productive #prod_container h4 {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 10px;
}

#stay_productive #prod_container p {
  margin: 10px 0 20px;
}

#stay_productive #prod_container a {
  border-bottom: 2px solid #f59ca9;
  padding-bottom: 10px;
  margin-top: 10px;
  color: #f59ca9;
}

#stay_productive #prod_container a:hover {
  color: #f6828c;
}

#stay_productive #prod_container .fa-arrow-right {
  background-color: #e2dccd;
  color: #2e0219;
  border-radius: 50%;
  padding: 3px;
}

#secondary_grid {
  width: 100%;
}

#secondary_grid article {
  position: relative;
  width: 85%;
  height: auto;
  background-color: #4a001f;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px 20px;
}

#secondary_grid article .fa-quote-left {
  position: absolute;
  left: 0;
  top: -30px;
  color: #f59ca9;
}

#secondary_grid article p {
  font-size: 0.9em;
}

#secondary_grid article .third_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 30px 0 10px;
}

#secondary_grid article div {
  margin: 0;
}

#secondary_grid article div p {
  font-weight: bold;
}

#secondary_grid article div .fa-user {
  border: 1px solid #f59ca9;
  border-radius: 50%;
  padding: 10px;
  color: #f59ca9;
}

#secondary_grid article time {
  font-size: 0.7em;
}

/* Email List */
#email_list {
  width: 90%;
  margin: 100px auto 50px auto;
  background-color: #4a001f;
  border-radius: 5px;
  text-align: center;
}

#email_list h4 {
  font-size: 1.2em;
  padding: 40px 0 15px;
}

#email_list p {
  margin: 0 auto;
  padding: 0 30px;
}

#email_list input, #email_list button {
  border-radius: 50px;
  margin: 10px 0;
  border: none;
  font-size: 1em;
  word-spacing: 2px;
}

#email_list input {
  width: 310px;
  padding: 20px 20px;
  text-align: left;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #e2dccd;
}

#email_list button {
  padding: 20px 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f59ca9), to(#f6828c));
  background-image: linear-gradient(to right, #f59ca9, #f6828c);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
}

#email_list fieldset {
  border: none;
  padding: 40px 0 30px;
}

footer {
  width: 90%;
  margin: 0 auto;
}

footer h1 {
  font-size: 3em;
}

footer .fa-layer-group {
  padding-top: 10px;
}

footer ul {
  list-style-type: none;
}

footer #logo {
  width: 100%;
  height: auto;
  padding: 10px 0 50px 10px;
}

footer .footer_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  margin: 10px 0;
}

footer .footer_grid i {
  color: #f59ca9;
}

footer .footer_links {
  margin: 20px 0;
}
/*# sourceMappingURL=styles.css.map */