@import "./palette.scss";

@function fonts($font){

  @return $font;
}


*{
  margin:0;
  padding:0;
}

a, p{
  text-decoration: none;
  font-family: fonts($text);
}

h1, h2, h3{
  font-family: fonts($headers);
}

// body{
//   background-color:$bodyBkg;
// }

header{
  nav{
    padding:20px;

    li{
      display: inline;
    }

    #logo{
      float:left;

      li{
        float:left;
      }
    }

    // .fa-layer-group{

    // }
    
    ul{
      list-style-type: none;
    }

    ul:nth-child(2){
      float:right;
    }

  }

  .clear:after{
    content: "";
    display: table;
    clear: both;
  }
}


