@import "./palette.scss";

@function fonts($font){

  @return $font;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height:1.5rem;
}

a, p{
  text-decoration: none;
  font-family: fonts($text);
  letter-spacing: 1px;
}

h1, h2, h3{
  font-family: fonts($headers);
}

// body{
//   background-color:$bodyBkg;
// }

header{
  width:100%;
  height:100vh;
  position: relative;

  nav{
    padding:20px;

    li{
      display: inline;
    }

    #logo{
      float:left;

      li{
        float:left;
        margin:0 5px;
      }
    }

    // .fa-layer-group{

    // }
    
    ul{
      list-style-type: none;
    }

    ul:nth-child(2){
      float:right;
      
      li{
        margin:0 7px;
      }
    }
  }

  .clear:after{
    content: "";
    display: table;
    clear: both;
  }

  #landing{

    width:100%;
    padding:20px;
    text-align: center;  
    position: absolute;
    bottom:50%;

  }

}


